{% extends 'base.html.twig' %}

{% block body %}
    <!-- Default form login -->
    <form method="post" class="text-center border border-light p-5" action="">

        <p class="h4 mb-4">Create Category</p>

        <!-- Name -->
        <input type="text" id="name" name="name" class="form-control mb-4" placeholder="create">

        <!-- Create button -->
        <button class="btn btn-success btn-block my-4" type="submit">Create Category</button>

    </form>
    <a  href="{{ path('categories') }}" class="btn btn-info">Back to list</a>
    <!-- Default form login -->
{% endblock %}