{% extends 'base.html.twig' %}

{% block body %}
    <form class="text-center border border-light p-5" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-4" placeholder="Username">

        <!-- Password -->
        <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

        <!-- Register -->
        <p>Not a member?
            <a href="{{ path('register') }}">Register</a>
        </p>

    </form>
{% endblock %}